@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(231, 233, 233);
}

ul {
  padding-left: 1.5rem;
  list-style: none;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  border: none;
  border-bottom: 1px solid lightgrey;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid darkgrey !important;
}

input:focus::placeholder {
  color: transparent;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}
